.container {
    -fx-padding: 10px;
}

HBox {
    -fx-spacing: 5px;
}

.prompt-title {
    -fx-padding: 0 0 5px 0;
}

.section {
    -fx-padding: 0 0 10px 0;
}

.button-area {
    -fx-alignment: center-right;
    -fx-spacing: 10px;
}